<div class="main-cake">
  <!-- Main Content -->
  <h1 class="heading">Let's Cut the Cake! 🎂</h1>
  <p class="head2">Make a wish 🙏 and Blow the Candle 🕯️</p>

  <div class="cake-container" (click)="startCelebration()">
    <div class="cake">
      <div class="layer layer-1">
        <div class="frosting"></div>
        <div class="frosting" style="left: 40px"></div>
        <div class="frosting" style="right: 40px"></div>
      </div>
      <div class="layer layer-2">
        <div class="frosting"></div>
        <div class="frosting" style="left: 35px"></div>
        <div class="frosting" style="right: 35px"></div>
      </div>
      <div class="layer layer-3">
        <div class="frosting"></div>
        <div class="frosting" style="left: 30px"></div>
        <div class="frosting" style="right: 30px"></div>
        <div class="candle">
          <div class="flame"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scrolling Text -->
  <div class="scrolling-words-container">
    <div class="scrolling-words" #scrollingWords>
      <span *ngFor="let phrase of phrases">{{ phrase }}</span>
    </div>
    <div class="scrolling-words" #scrollingWordsClone>
      <span *ngFor="let phrase of phrases">{{ phrase }}</span>
    </div>
  </div>

  <!-- Navigation -->
  <button class="next-page-button" (click)="goToFinalPage()">
    Greeting with all the ♥️
  </button>
</div>

<div class="vertical-wrapper left">
  <div class="item" *ngFor="let url of imageUrls; let i = index"
    [ngStyle]="{ 'animation-delay': ((90 / imageUrls.length) * (imageUrls.length - i - 1) * -1) + 's' }">
    <img [src]="url" alt="tile image" />
  </div>
</div>

<!-- Right Vertical Slider -->
<div class="vertical-wrapper right">
  <div class="item" *ngFor="let url of imageUrls; let i = index"
    [ngStyle]="{ 'animation-delay': ((90 / imageUrls.length) * (imageUrls.length - i - 1) * -1) + 's' }">
    <img [src]="url" alt="tile image" />
  </div>
</div>